.article {
    margin-top: 7rem;
    margin-left: var(--space3x);
    margin-right: var(--space3x);
}

.article h2 {
    text-align: center;
}

.article__body {
    margin-bottom: var(--space4x);
}

.article__text {
    margin-left: var(--space2x);
    margin-right: var(--space2x);
}

.link__lexique {
    color: var(--violet-lexique-frise);
    text-decoration: none;
}

.link__externe {
    color: var(--bleu-liens-externes);
}

.article__img {
    position: relative;
    margin-top: var(--space4x);
}

.hdf {
    margin-bottom: 70px;
    margin-top: 10px;
}

.list {
    margin-left: -20px;
    margin-right: 20px;
    margin-bottom: var(--space6x);
}

.list__img {
    margin-top: var(--space1x);
}

.list__img--mlf {
    width: 120%;
}

.frise__text {
    position: relative;
    margin-top: -1430px;
    margin-left: var(--space6x);
    line-height: 1.1;
    margin-right: -10px;
}

.date {
    color: var(--rouge);
}

.galerie {
    margin-top: var(--space5x);
    margin-bottom: var(--space6x);
    margin-left: var(--marge); margin-right: var(--marge);
}

.galerie h3 {
    text-align: center;
}

.galerie__img {
    margin-left: var(--space4x);
}

.required {
    color: var(--rouge);
}

.contact, .contact__title {
    margin-left: var(--space2x);
}

.contact {
    width: 90%;
}


.contact__button {
    margin-top: var(--space4x);
    margin-left: 195px;
}