.article {
    margin-top: 7rem;
    margin-left: var(--space3x);
    margin-right: var(--space3x);
}

.article h2 {
    text-align: center;
}

.article__body {
    margin-bottom: var(--space4x);
}

.link__lexique {
    color: var(--violet-lexique-frise);
    text-decoration: none;
}

.article__img {
    position: relative;
    margin-top: var(--space4x);
}