.button {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: var(--letter-spacing);
    font-weight: bold;
    padding: var(--space2x) var(--space3x);
    border: 1px solid var(--rouge);
    color: var(--noir);
    font-size: var(--font-body);
    display: inline-flex;
    place-items: center;
    gap: var(--space2x);
    transition: all .3s ease-in-out;
}
  
.button:hover {
    box-shadow: inset 0 0 0 var(--space1x) var(--brand-saumon);
}