/* .button {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: var(--letter-spacing);
    font-weight: bold;
    padding: var(--space2x) var(--space3x);
    border: 1px solid var(--rouge);
    color: var(--noir);
    font-size: var(--font-body);
    display: inline-flex;
    place-items: center;
    gap: var(--space2x);
    transition: all .3s ease-in-out;
} */

.intro {
    font-size: var(--title-chapo);
    margin-left: var(--marge);
    margin-right: var(--marge);
}

.video {
    display: block;
    text-align: center;
    background-color: var(--blanc);
    margin-left: var(--marge);
    margin-right: var(--marge);
}

video {
    max-width: 100%;
}

.video__desc {
    text-align: left;
    font-family: var(--font-body);
    font-size: var(--title-chapo);
    margin-top: -10px;
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.tweet {
    display: flex;
    margin-left: var(--marge);
    margin-right: var(--marge);
    text-align: center;
    background-color: var(--blanc);
    margin-bottom: var(--space5x);
}

.tweet__link {
    color: var(--noir);
    text-decoration: none;
}

.tweet__title {
    font-size: var(--title-chapo);
    font-weight: bold;
}

.tweet__legende {
    margin-bottom: var(--space2x);
}

.tweet__img {
    position: relative;
    overflow: hidden;
}

.tweet__img--first, .tweet__img--second, .tweet__img--third, .tweet__img--fourth {
    position: relative;   
}

.tweet__img--first {
    max-width: 25%;
    margin-left: -8.2rem;
    height: 117px;
}

.tweet__img--second {
    max-width: 25%;
    margin-right: -0.2rem;
    height: 117px;
}

.tweet__img--third {
    max-width: 57%;
    margin-left: -9.3rem;
    position: absolute;
}

.tweet__img--fourth {
    max-width: 50%;
    margin-right: -8.2rem;
}

.motif {
    display: block;
    margin-left: 1.4rem;
}
    
.motif1, .motif4 {
    margin-top: var(--marge);
    margin-bottom: var(--marge);
}

.motif2, .motif3 {
    margin-top: 17px;
    margin-bottom: 17px;
}