.footer {
    background-color: var(--bleu-header-footer);
    text-align: center;
    margin-top: var(--marge);
    padding-bottom: var(--space3x);
    padding-top: var(--space4x)
}

.footer__link {
    color: var(--rouge);
    text-decoration: none;
}

.footer__title {
    font-size: var(--body);
}

.footer__text {
    color: var(--blanc);
    text-decoration: none;
}