:root {
    /* Color styles */
--noir: rgba(16, 16, 16, 1);
--citation: rgba(16, 16, 16, 0.800000011920929);
--fond-tweets: rgba(108, 108, 108, 1);
--fond-de-page: rgba(248, 248, 255, 1);
--blanc: rgba(255, 255, 255, 1);
--rouge: rgba(188, 20, 20, 1);
--bleu-logo: rgba(209, 238, 240, 1);
--bleu-liens-externes: rgba(8, 4, 194, 1);
--bleu-header-footer: rgba(22, 0, 69, 1);
--violet-lexique-frise: rgba(100, 0, 178, 1);

    /* Text-size styles */
--heading-1: 20px;
--heading-2: 18px;
--heading-3: 15px;
--heading-4: 14px;
--body: 13px;
--title-chapo: 14px;
--citations: 12px;
--frise: 11px;
--legende: 10px;

    /* Font-family styles */
--font-heading-1: 'Engravers MT';
--font-heading-2: 'Futura Hv BT';
--font-heading-3: 'Futura Bk BT';
--font-heading-4: 'Futura Lt BT';
--font-body: 'Ubuntu';

    /* Espaces */
--space1x: 8px;
--space2x: 16px;
--space3x: 24px;
--space4x: 48px;
}