:root {
    /* Couleurs */
--noir: rgba(16, 16, 16, 1);
--citation: rgba(16, 16, 16, 0.800000011920929);
--fond-tweets: rgba(108, 108, 108, 1);
--fond-de-page: rgb(218, 218, 253);
--blanc: rgba(255, 255, 255, 1);
--rouge: rgba(188, 20, 20, 1);
--bleu-logo: rgba(209, 238, 240, 1);
--bleu-liens-externes: rgba(8, 4, 194, 1);
--bleu-header-footer: rgba(22, 0, 69, 1);
--violet-lexique-frise: rgba(100, 0, 178, 1);

    /* Tailles de police de caractère */
--heading-1: 20px;
--heading-2: 18px;
--heading-3: 15px;
--heading-4: 14px;
--menu: 16px;
--title-chapo: 14px;
--body: 13px;
--citations: 12px;
--frise: 11px;
--legende: 10px;

    /* Polices de caractère */
--font-heading-1: 'Engravers MT';
--font-heading-2: 'Futura Hv BT';
--font-heading-3: 'Futura Bk BT';
--font-heading-4: 'Futura Lt BT';
--font-body: 'Ubuntu';

    /* Variantes de police */
--letter-spacing: 0.05em;

    /* Espaces */
--space1x: 5px;
--space2x: 10px;
--space3x: 15px;
--space4x: 20px;
--space5x: 30px;
--space6x: 60px;
--marge: 28px
}